<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>{{ page.title }} - {{ site.title }}</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">

    {% if site.font == "Sans Serif" %}
    <link rel="stylesheet" href="{{ '/assets/css/font_sans_serif.css' | relative_url }}">
    {% else %}
    <link rel="stylesheet" href="{{ '/assets/css/font.css' | relative_url }}">
    {% endif %}

    {% if site.auto_dark_mode %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    {% else %}
    <link rel="stylesheet" href="{{ '/assets/css/style-no-dark-mode.css' | relative_url }}">
    {% endif %}
  </head>
  <body>
    <main class="wrapper">
      <section>
        {{ content }}
      </section>
    </main>

    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
  </body>
</html>